[access "refs/*"]
        owner = group android_kernel_xiaomi_onclite
                label-Verified = -1..+1 group android_kernel_xiaomi_onclite
	forgeAuthor = group Administrators
	forgeCommitter = group Administrators
	forgeServerAsCommitter = group Administrators
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
        action = merge always
